/* ==========================================================================
   ACCOOM — State Utilities
   ========================================================================== */

.is-hidden {
  display: none !important;
}

.is-visible {
  display: block !important;
}

.is-open {
  display: block !important;
}



.is-loading {
  cursor: progress;
  opacity: 0.6;
  pointer-events: none;
}

.is-disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

